body { 
	padding: 0;
	margin: 10px 0; 
}
#map { 
	width: 100%; 
	height: 600px;; 
}
.errors {
	color: red;
}
.clientItem {
	margin-bottom: 20px;
}
.clientItem table {
	margin-bottom: 5px;
}
.clientItem:last-child {
	margin-bottom: 0;
}
.client tr th,
.client tr td {
	padding: 2px 5px !important;
}